.messageSender {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 100%;
}


.messageSender__top {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eff2f5;
}


.messageSender__top__createPost {
    width: 100%;
    border: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: #eff2f5;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    color: gray;
}

.messageSender__top__createPost:hover {
    background-color: rgba(59,89,152,0.20);
}


.message-sender__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: gray;
}


.message-sender__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-sender__option > h4 {
    margin-left: 10px;
}


.message-sender__option > .videoIcon {
    color: red;
}


.message-sender__option > .photoIcon {
    color: green;
}


.message-sender__option > .feelingIcon {
    color: orange;
}

.creatingPost_notification {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: var(--fb-color);
    padding: 1px;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 100%;
}



@media (max-width: 425px) {

    .messageSender__top__createPost {
        font-size: 12px;
    }
    
    .message-sender__option > h4 {
        font-size: 12px;
    }

    .message-sender__option > .MuiSvgIcon-root {
        font-size: 20px;
    }

}