.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login__logo {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login > button {
    width: 300px;
    background-color: #c6cacf;
    color: white;
    font-weight: 600;
}


.login > button:hover {
    background-color: var(--fb-color);
}

.login > button > span > img {
    width: 16px;
    height: 16px;
    object-fit: fill;
    margin-left: 8px;
}

